.button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  height: 60vh;
  width: 25vw;
}
#equal {
  grid-column: 1/4;
}
.calculator-form {
  padding: 50px;
  background-color: #333;
}
.button :nth-child(n) {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  outline: none;
  font-size: 2em;
  font-weight: bold;
  color: black;
}
#display {
  outline: none;
  margin-bottom: 0.5em;
  height: 3em;
  width: 100%;
  text-align: end;
  font-size: 2em;
  font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#display::placeholder {
  opacity: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  .button {
    width: 100%;
  }
  .calculator-form {
    padding: 20px;
  }
}
@media (min-width: 501px) {
  .button {
    width: 100%;
  }
}
